@use "../../assets/styles/mixins" as mixin;

.header {
    position: relative;
    padding: 10px 20px;
    box-shadow: var(--box-shadow-nav);
    background-color: white;
    width: 100%;
    height: 58px;
     
    img{
        width: 150px;
        @include mixin.xs{
            margin-left: 20%;
        }  
    }
    
     
}

.navDesktop{
  @include mixin.xs{
    display: none;
    cursor: pointer;
    transition: opacity 0.25s;
    &:hover{
        opacity: 0.8s
    }
  }
}

.navMobile{
   display: none;
   @include mixin.xs{
    display: block;
   }
}